$iceberg-blue: #8BABD8;
$light-green: #78E378;
$rich-black: #011627;
$navy-grey: #707991;
$light-grey: #F5F5F5;
$white: #ffffff;
$black: #000000;
$error: #dd7a7a;

$main-text: $rich-black;
$secondary-text: $navy-grey;

$btn-icon-bg: $white;
$btn-icon-bg-hover: rgba(49, 49, 49, 0.08);